@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html,
    body,
    header,
    .intro-3 {
      height: 100%;
    }
    @media (max-width: 450px) {
      html,
      body,
      header,
      .intro-3 {
        height: 820px;
      }
    }
    @media (min-width: 451px) and (max-width: 740px) {
      html,
      body,
      header,
      .intro-3 {
        height: 900px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .intro-3 {
        height: 950px;
      }
    }
    #pizza {
        font-family: 'Bangers', cursive;
        color: limegreen;
        font-size: 35px;
        padding-right: 32px;

    }
    #spantext {
        padding-left: 10px;
        font-family: 'Bungee Shade', cursive;
    }
    .vector {
        padding-left: 65%;
    }
    .order-summary h1, .summary, .contact {
        color: #000;
        font-family: 'Cinzel', cursive;
        margin-top: 30px;
    }
    .deliver, .delivernot {
        margin: 10px;
    }
    #order-pizza {
        padding: 20px 50px 20px 50px;
        font-family: 'Righteous', cursive;
    }
    
    .order-overlay {
        height: inherit;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 20px;
    }
    
    .checkout {
        border-radius: 20px;
        margin-top: 20px;
    }
    
    #list {
        color: #000;
    }
    
    .pizz {
        color: lawngreen;
    }
    label {
        color: whitesmoke;
    }
    

        
