html,
    body,
    header,
    .intro-3 {
      height: 100%;
    }
    @media (max-width: 450px) {
      html,
      body,
      header,
      .intro-3 {
        height: 820px;
      }
    }
    @media (min-width: 451px) and (max-width: 740px) {
      html,
      body,
      header,
      .intro-3 {
        height: 900px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .intro-3 {
        height: 950px;
      }
    }
    .vector {
        padding-left: 65%;
    }
    .order-summary h1, .summary, .contact {
        color: #000;
        font-family: 'Love Ya Like A Sister', cursive;
        margin-top: 30px;
    }
    .deliver, .delivernot {
        margin: 10px;
    }
    #order-pizza {
        padding: 20px 50px 20px 50px;
        font-family: 'Love Ya Like A Sister', cursive;
    }
    
    .order-overlay {
        height: inherit;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 20px;
    }
    
    .checkout {
        border-radius: 20px;
        margin-top: 20px;
    }
    
    #list {
        color: #000;
    }
    
    .pizz {
        color: lawngreen;
    }
    

        
